@font-face {
  font-family: "FiraCode";
  src: url("/assets/fonts/FiraCode-VF.woff2") format("woff2-variations");
  font-stretch: 75% 125%;
  font-style: normal;
}

.sidebar {
	width: 290px;
	float: left;
	height: 200px;
}
.content {
	margin-left: 293px;
}

html {
	font-size: 1.2em;
}
code {
	font-family: "FiraCode", "Hack", "DejaVu Sans Mono", "JetBrains Mono", "Courier New", monospace;
}

.switch-mode-button {
	width: 30px;
	height: 30px;
	display: inline-block;
	position: relative;
	top: 10px;
}
.switch-mode-button:hover {
	transition: 0.5s;
}
html.dark_mode .switch-mode-button:hover {
	background-color: #555;
}
html.light_mode .switch-mode-button.light_mode {
	display: none;
}
html.dark_mode .switch-mode-button.dark_mode {
	display: none;
}


.form_quit {
	display: inline;
	margin-left: 15px;
}
html.dark_mode .form_quit input {
	background: white;
	border: 1px solid lightgray;
	border-radius: 5px;
}
