
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">

		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/highlight.11.9.0.default.min.css">
		<link rel="stylesheet" class="dark-theme" href="/assets/highlight.11.9.0.atom-one-dark.min.css">
		<link rel="stylesheet" class="dark-theme" href="/assets/dark.css">
		<script src="/assets/choose_mode.js"></script>
