<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<style>
		.sidebar {
			width: 200px;
			float: left;
		}
		.content {
			margin-left: 230px;
		}
		#switch-mode-button {
			width: 80%;
			height: 30px;
		}
		</style>
		<link rel="stylesheet" class="dark-theme" href="/assets/dark.css">
		<script>window.noHljs = true;</script>
		<script src="/assets/script.js"></script>
		<title>V lessons</title>
	</head>
	<body>
		<div class="sidebar">
			<a href="/">Home</a>
			<br /><br />
			<button onclick="switchMode()" id="switch-mode-button">Switch dark/light modes</button>
			<br /><br />
			@for lesson1 in app.lessons
				<div class="sidebar-header">
					<a href="/lesson/@lesson1.id">@lesson1.title</a>
				</div>
			@end
		</div>
		<div class="content">
			<h1>Hello world</h1>
		</div>
	</body>
</html>