<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		@include "common_css_and_js.html"
	</head>
	<body>
		<div class="sidebar">
			<a href="/">Home</a>
			<br /><br />
			<button onclick="switchMode()" id="switch-mode-button">Switch dark/light modes</button>
			<br /><br />
			@for lesson1 in app.lessons
			<div class="sidebar-header">
				<a href="/lesson/@lesson1.id">@lesson1.title</a>
			</div>
			@end
		</div>
		<div class="content">
			@if lesson.id != -1
			<h1>@lesson.title</h1>
			<p>
				@body
			</p>
			@else
			Lesson not found
			@end
		</div>
	</body>
</html>
