<!DOCTYPE html>
<html>
	<head>	
		<meta charset="utf-8" />
		<title>@lesson.title</title>
		@include "common_css_and_js.html"
	</head>
	<body>
		@include "sidebar.html"
		<div class="content">
			@if lesson.id != 'not_found'
			<h1>@lesson.title</h1>
			<p>
				@body
			</p>
			@else
			<h1>Lesson not found</h1>
			 ¯\_(ツ)_/¯
			@end
		</div>
		<script src="/assets/highlight.11.9.0.min.js"></script>
		<script src="/assets/highlight_v.js"></script>
		<script>registerV();</script>
		<script>hljs.highlightAll();</script>
	</body>
</html>
